@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.search_next_page{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 150px;
    height: 40px;
    color: black;
    cursor: pointer;
}

.recent_search_history{
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbtn{
    height: 40px;
    width: 150px;
    color: black;
    margin-right: 10px;
    cursor: pointer;
}


